<div *ngIf="user" class="container text-center">
  <h1 class="my-5">Bienvenue {{ user.firstName }}</h1>
  <section class="row">
    <article class="col-9">
      <h2>Voici votre liste des course</h2>
      <table class="table text-left">
        <tr *ngFor="let bucketList of user.bucketList">
          <td>
            {{ bucketList.product.name }}
          </td>
          <td>
            <button class="btn text-info btn-sm">Partager ?</button>
          </td>
          <td>
            <button
              class="btn text-danger btn-sm"
              (click)="handleDelete(bucketList.id)"
            >
              Supprimer
            </button>
          </td>
        </tr>
      </table>
    </article>
    <article class="col-3">
      <h2>D'autres ont pensé à vous</h2>
      <table class="table table-info">
        <thead>
          <th>Nom de l'article</th>
          <th>Ajouté par</th>
        </thead>
        <tr *ngFor="let article of sharedWithUser">
          <td>{{ article.product.name }}</td>
          <td>{{ article.product.user.firstName }}</td>
        </tr>
      </table>
    </article>
    <article class="mt-5">
      <h2>Ajouter un article à la liste</h2>
      <form (ngSubmit)="handleSubmit()">
        <div class="form-group floating-label-form-group controls">
          <input
            type="text"
            class="form-control"
            placeholder="Titre de l'article"
            list="products"
            [(ngModel)]="productName"
          />
          <datalist id="products">
            <option *ngFor="let product of products">
              {{ product.name }}
            </option>
          </datalist>
        </div>

        <button type="submit" class="btn btn-success -right">
          Ajouter le produit à la liste
        </button>
      </form>
    </article>
  </section>
</div>
